/*  your css code here. If applicable */
h1{
	text-align:center;
}
table{
	width:100%;
	
	
}
table,tr,td{
	border:1px solid black ;
	border-spacing:1px;
	padding:1px;
	
	
}
td:nth-child(2){
	text-align:center;
}
td:nth-child(3){
	text-align:right;
}
#table-2{
	height:150px;
}

#t-image{
	text-align:center;
}
.bg1{
	background-color:green;
	height:18px;
}
.bg2{
	background-color:blue;
	height:18px;
	
}